<div class="container">
  <div class="header">
    <h1><strong><u>Address Book</u></strong></h1>
    <button class="add-person-btn" (click)="goToForm()">➕ Add Person</button>
  </div>

  <h2>Person Details</h2>

  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>City</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let person of persons">
          <td>{{ person.id }}</td>
          <td>{{ person.name }}</td>
          <td>{{ person.city }}</td>
          <td>{{ person.phone }}</td>
          <td>{{ person.email }}</td>
          <td>
<button class="delete-btn" (click)="person.id ? deletePerson(person.id) : null">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
